<!--xml-->
<launch>
  <node name="PWM" pkg="pwm" type="pwm"/>
  <node name="Interrupts" pkg="interrupts" type="interrupts">
    <rosparam file="$(find interrupts)/config/interrupts_params.yaml" command="load"/>
  </node>
  <node name="Heading" pkg="heading" type="heading_ekf">
    <rosparam file="$(find heading)/config/heading_ekf_params.yaml" command="load"/>
  </node>
  <node name="Control_Loop" pkg="control_loop" type="control_loop" output="screen">
    <rosparam file="$(find control_loop)/config/control_params.yaml" command="load"/>
  </node>
  <node name="map_server" pkg="map_server" type="map_server" args="/home/odroid/catkin_ws/src/tcc/main_planner/config/map_load.yaml"/>
  <node name="map_server_inflated" pkg="map_server" type="map_server" args="/home/odroid/catkin_ws/src/tcc/main_planner/config/map_load_inflated.yaml">
    <remap from="/map" to="/map_inflated"/>
  </node>
</launch>
